{
  "openapi":"3.1.0",
  "info":{"title":"Faceless Operator — Browser Action Engine","version":"1.0.0","description":"Authenticated Playwright browser service. ChatGPT supplies reasoning; this service includes no LLM."},
  "servers":[{"url":"https://operator.facelessanimalstudios.com"}],
  "components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"Action":{"type":"object","additionalProperties":false,"required":["action"],"properties":{"action":{"type":"string","enum":["open","read","click","type","wait","back","forward","screenshot"]},"url":{"type":"string","format":"uri"},"selector":{"type":"string","maxLength":2048},"text":{"type":"string","maxLength":20000},"ms":{"type":"integer","minimum":0,"maximum":10000},"fullPage":{"type":"boolean"},"purpose":{"type":"string","maxLength":500},"consequential":{"type":"boolean"},"approvalToken":{"type":"string"}}}}},
  "paths":{
    "/health":{"get":{"operationId":"health","responses":{"200":{"description":"Public service health"}}}},
    "/mcp":{"post":{"operationId":"mcp","security":[{"bearerAuth":[]}],"description":"MCP Streamable HTTP endpoint for ChatGPT and Codex.","responses":{"200":{"description":"MCP JSON-RPC response"}}}},
    "/v1/sessions":{"post":{"operationId":"createSession","security":[{"bearerAuth":[]}],"responses":{"201":{"description":"Browser session created"},"401":{"description":"Unauthorized"},"429":{"description":"Rate limited"}}}},
    "/v1/sessions/{id}/actions":{"post":{"operationId":"browserAction","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}}},"responses":{"200":{"description":"Action completed"},"403":{"description":"Private destination or wrong owner"},"409":{"description":"Explicit approval required"}}}},
    "/v1/sessions/{id}/approvals":{"post":{"operationId":"approveAction","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-faceless-approval","in":"header","required":true,"schema":{"type":"string","const":"confirmed"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Action"}}}},"responses":{"201":{"description":"One-time approval issued"}}}},
    "/v1/sessions/{id}":{"delete":{"operationId":"closeSession","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Session closed"},"404":{"description":"Missing or expired session"}}}}
  }
}
